@layer components {
    .agile {
        &__actions {
            bottom: 8% !important;
            left: 3% !important;
            z-index: 3 !important;
            @apply absolute #{!important};
        }
    
        &__nav-button {
            @apply px-16 #{!important};
            @apply text-3xl text-white #{!important};
        }
    }
}